

body {
  align-items: center;
  background: #2ecc71;
}

.card {
  background: #fff;
  border-radius: 10px;
  display: inline-block;

  margin: 1rem;
  left: 30%;
  position: relative;
  margin: 1rem;
  width: 566px;
  height: 700px;
}

.card-1 {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.card-1:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

#heading {


  text-align: center;
  
}
.input-div {
  position: absolute;
  top: 45px;
  left: 150px;
  text-align: center;
}
#input {
  text-align: center;
  width: 200px;
  padding: 10px;
}

button,
button::after {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.glow-on-hover {
  width: 100px;
  height: 42px;
  border: none;
  outline: none;
  color: #fff;
  background: rgb(64, 71, 64);
  cursor: pointer;

  z-index: 0;
  border-radius: 10px;
  margin-top: 53px;
  margin-left: 30px;
}
.glow-on-hover:hover{
  background-color: #12cf18;
}
.todo-list{

  color: black;
  position: relative;
  font-weight: bold;

  top: 100px;
  margin-top: 20px;
  padding-left: 20px;
  left: 140px;
}

.delete-btn,.complete-btn {
  position: relative;
  bottom: 6px;
  width: 65px;
  height: 30px;
  border: none;
  outline: none;
  color: #fff;
  background: gray;
  cursor: pointer;

  z-index: 0;
  border-radius: 10px;
margin-left: 10px;
bottom: 2px;
text-align: center;

}
.delete-btn:hover{
  background-color: red;
}
.complete-btn:hover{
  background-color: #12cf18;
}


@media only screen and (max-width: 700px) {
  .card {
    background: #fff;
    border-radius: 10px;
    display: inline-block;

    left: 30%;
    position: relative;

    width: 400px;
    height: 500px;
    margin-left: -45px;
  }

  .input-div {
    /* border: 1px solid black; */
    position: absolute;
    top: 90px;
    left: 40px;
    text-align: center;
  }

  .todo-list{

    color: black;
    position: relative;
    font-weight: bold;
  
    top: 130px;
    margin-top: 20px;
    padding-left: 20px;
    left: 70px;
  }
  
}

